@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<br />
<h2> List Of Products</h2>
<a class="btn btn-primary btn-sm" href="/SellerPage/Products/Create?id=@Model.seller_id">New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Seller</th>
            <th>Stock</th>

        </tr> 
    </thead>
    <tbody>
        @foreach(var item in Model.listProduct)
        {
            <tr>
                <td>@item.product_id</td>
                <td>@item.product_name</td>
                <td>@item.product_description</td>
                <td>@item.product_price</td>
                <td>@item.product_image</td>
                <td>@item.product_category_name</td>
                <td>@item.product_seller_name</td>
                <td>@item.product_quantity</td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/SellerPage/Products/Edit?id=@item.product_id"> Edit </a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/SellerPage/Products/Delete?id=@item.product_id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
