@page
@model CicekSepetiCloneDotNet.Pages.SellerPage.Orders.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2> Siparişler Sayfası</h2>
<br />

<div class="container mt-5">
    <h4 class="text-center mb-4">Yeni Siparişler</h4>
    @if (Model.NewlistOrder != null && Model.NewlistOrder.Any())
    {
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Product ID</th>
                    <th>Buyer Name</th>
                    <th>Product Quantity</th>
                    <th>OrderDate</th>
                    <th>is Sent</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NewlistOrder)
                {
                    <tr>
                        <td>@item.product_name</td>
                        <td><img src="~/assets/products/@item.product_image" alt="Ürün Görseli" class="img-thumbnail" style="width: 100px; height: 100px;" /></td>
                        <td>@item.buyer_name</td>
                        <td>@item.productQuantity</td>
                        <td>@item.orderDate</td>
                        <td>@item.isSent</td>


                        <td>
                            <form asp-page-handler="AcceptOrder" method="post">
                                <input type="hidden" name="orderId" value="@item.order_id" />
                                <input type="hidden" name="seller_id" value="@Request.Query["id"]" />
                                <button type="submit" class="btn btn-sm btn-danger">Accept order</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            Henüz Yeni Sipariş Yok.
        </div>
    }
</div>

<br />
<br />
<div class="container mt-5">
    <h4 class="text-center mb-4">Eski Siparişler</h4>
    @if (Model.OldListOrder != null && Model.OldListOrder.Any())
    {
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Product Photo</th>
                    <th>Buyer Name</th>
                    <th>Product Quantity</th>
                    <th>OrderDate</th>
                    <th>is Sent</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OldListOrder)
                {
                    <tr>
                        <td>@item.product_name</td>
                        <td><img src="~/assets/products/@item.product_image" alt="Ürün Görseli" class="img-thumbnail" style="width: 100px; height: 100px;" /></td>
                        <td>@item.buyer_name</td>
                        <td>@item.productQuantity</td>
                        <td>@item.orderDate</td>
                        <td>@item.isSent</td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            Hiç Eski Siparişiniz Yok
        </div>
    }
</div>

