@page
@model CicekSepetiCloneDotNet.Pages.Products.PreviewModel
@{
}
@if (Model.message.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.message</strong>

    </div>
}
<main class="product-details">

    <div class="product-image">
        <img src="~/assets/products/@Model.productInfo.product_image" alt="Ürün Adı">
    </div>
    <div class="product-info">
        <h1>@Model.productInfo.product_name</h1>
        <p class="price">₺@Model.productInfo.product_price </p>
        <p class="description">@Model.productInfo.product_description</p>
        <p class="stock">Stoktaki Adet: @Model.productInfo.product_quantity</p>
        <p class="stock">Satıcı: @Model.productInfo.product_seller_name</p>

        <a class="add-to-cart" href="/Products/AddToCart?product_id=@Model.product_id&user_id=@Model.user_id">Sepete Ekle</a>
    </div>

    
</main>
<!-- Yorumlar bölümü alt tarafa yerleştirildi -->

<div class="comments-section">
  <h2>Yorumlar (@Model.commentCounter)</h2>
    
    
        @foreach (var comment in Model.commentInfos)
    {
        <div class="comment">
            <div>
                <h3>@comment.user_name</h3>
                <small>@comment.date</small>
                <p>@comment.comment</p>
            </div>
            <div class="comment-footer">
                <div class="thumbs-up">
                    <h3>@comment.commentTitle</h3>

                </div>
            </div>
        </div>
        }
   
    
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var errorMessage = '@(ViewData["ErrorMessage"] ?? "").Replace("'", "\\'")';
        var successMessage = '@(ViewData["SuccessMessage"] ?? "").Replace("'", "\\'")';

        if (errorMessage.trim().length > 0) {
            alert(errorMessage); // Hata mesajı göster
        } else if (successMessage.trim().length > 0) {
            alert(successMessage); // Başarı mesajı göster
        }
    });
</script>

