@page
@model CicekSepetiCloneDotNet.Pages.Cart.PaymentModel
@{
    var cartItems = Model.cartItems; // Sepet ürünleri
    //var totalPrice = cartItems.Sum(item => item.ProductPrice * item.Quantity); // Toplam tutar
}
<head>
    <link rel="stylesheet" href="~/css/payment.css" />
</head>
<div class="container">
    <h2 class="text-center">Ödeme Sayfası</h2>

    <!-- Kullanıcı Bilgileri Formu -->
    <form method="post" class="payment-form">
        <h4>Kullanıcı Bilgileri</h4>
        <div class="form-group">
            <label>Ad Soyad:  @Model.buyerInfo.user_name @Model.buyerInfo.user_surname</label>
        </div>
        <div class="form-group">
            <label>E-posta:  @Model.buyerInfo.user_mail</label>
        </div>
        <div class="form-group">
            <label >Telefon Numarası:  @Model.buyerInfo.user_number</label>
        </div>

        <!-- Adres Bilgileri -->
        <h4>Adres Bilgileri</h4>
        <div class="form-group">
            <input type="text" class="form-control" id="address" name="address" placeholder="Adresinizi girin" required>
        </div>
        <div class="form-group">
            <labe>Şehir:  @Model.buyerInfo.user_city</labe>
        </div>

        <!-- Ödeme Yöntemi -->
        <h4>Ödeme Yöntemi</h4>
        <div class="form-group">
            <select class="form-control" id="paymentMethod" name="paymentMethod" required>
                <option value="creditCard">Kredi Kartı</option>
                <option value="bankTransfer">Banka Havalesi</option>
                <option value="cashOnDelivery">Kapıda Ödeme</option>
            </select>
        </div>

        <!-- Sepet Özeti -->
        <h4>Sepet Özeti</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Ürün Görseli</th>
                    <th>Ürün Adı</th>
                    <th>Adet</th>
                    <th>Fiyat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cartItems)
                {
                    <tr>
                        <td>
                            <img src="~/assets/products/@item.ProductImage" alt="Ürün Görseli" style="width: 100px; height: auto;" />
                        </td>
                        <td>@item.ProductName</td>
                        <td>@item.ProductQuantity</td>
                        <td>@item.ProductPrice ₺</td>
                    </tr>
                }
                <tr>
                    <td class="text-left"><strong></strong></td>
                    <td class="text-left"><strong></strong></td>
                    <td class="text-left"><strong>Toplam Tutar:</strong></td>
                    <td><strong>₺ @Model.totalPrice</strong></td>
                </tr>
            </tbody>
        </table>

        <!-- Ödeme Butonu -->
        <button type="submit" class="btn btn-primary btn-block">Ödemeyi Tamamla</button>
    </form>
</div>
